.box__button__group {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    padding: 15px;
}

.bt__delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 180px;
    height: 50px;
    margin-right: 20px;
    padding: 10px 15px;
    border-style: none;
    background-color: #d30909;
    font-size: 2rem;
    color: #efefef;
    text-align: center;
}

.bt__delete:hover {
    cursor: pointer;
    background-color: #a81b1b;
}