.g__modal__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #999;
}

.g__modal__nav__span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #666;
}

.g__modal__nav__span:hover {
    cursor: pointer;
    background-color: #777;
    color: #efefef;
}