.content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0, 0.3);
    font-weight: 700;
}

.content__header > span {
    font-weight: 700;
}

.header__right {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

.header__right:hover {
    cursor: pointer;
} 

.header__right > span {
    margin-right: 10px;
}